.contentWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contentWrapper {
    padding: 0;
  }
}
