.checkoutPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  padding-right: 80px;
  padding-left: 80px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  gap: 41px;
  max-width: 1440px;
  width: 100%;
  margin: 0;
}

.leftSection {
  width: 510px;
  height: 989px;
  background: #ffffff;
  border: 1px solid #eef2f6;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
}

.rightSection {
  width: 730px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.orderBox {
  background: #ffffff;
  border: 1px solid #eef2f6;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .contentContainer {
    padding: 0 16px;
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }

  .rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .orderBox {
    height: auto;
    max-height: 400px;
    flex-shrink: 0;
  }
}