.textInputActionIcon {
    width: 32px;
    height: 32px;
    background-color: #B3FF00;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

