.productsHeaderWrapper {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 100;
}

.headerContainer {
  position: relative;
  width: 100%;
}

.categoriesContainer {
  position: relative;
  width: 1064px;
}

@media (max-width: 768px) {
  .productsHeaderWrapper {
    max-height: 75px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .categoriesContainer {
    width: 100%;
  }
}
