.closedNotificationBanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  position: absolute;
  width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  top: 1.83%;
  background: #FEF1F2;
}

.closedMessage {
  width: 297px;
  height: 18px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #E02D3C;
}
