.productsContentWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .productsContentWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
  }
}
