.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f8fafc;
  border: 1px solid #eef2f6;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.sectionTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  display: flex;
  align-items: center;
}

.toggleButton {
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:hover {
  background-color: transparent;
}
